@font-face {
  font-family: 'Montserrat Medium';
  src: url(./fonts/Montserrat-Medium.otf); }

@font-face {
  font-family: 'Montserrat Light';
  src: url(./fonts/Montserrat-Light.otf); }

html {
  scroll-behavior: smooth; }

body {
  font-family: "Montserrat Light";
  overflow: hidden;
  scroll-behavior: smooth; }
  body::-webkit-scrollbar {
    width: 0 !important; }

.main-window {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding: 15px;
  background-image: linear-gradient(to bottom, #fff, #fcfcfc);
  color: #454545; }
  .main-window .main-header {
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    margin-left: -15px; }
    .main-window .main-header .main-settings-icon,
    .main-window .main-header .new-tab-icon,
    .main-window .main-header .main-close-icon {
      top: 10px;
      position: absolute;
      color: #7a7a7a;
      cursor: pointer;
      transition: color 0.5s; }
      .main-window .main-header .main-settings-icon:hover,
      .main-window .main-header .new-tab-icon:hover,
      .main-window .main-header .main-close-icon:hover {
        color: #454545; }
    .main-window .main-header .main-settings-icon {
      display: none;
      left: 15px; }
    .main-window .main-header .new-tab-icon {
      right: 55px; }
    .main-window .main-header .main-close-icon {
      right: 15px; }
    .main-window .main-header .main-logo {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-left: 30px; }
      .main-window .main-header .main-logo h1 {
        font-family: "Montserrat Medium";
        font-size: 1.7rem;
        margin: 10px 0 0 0;
        cursor: default;
        color: #454545;
        transition: color 1s; }
        .main-window .main-header .main-logo h1:hover {
          color: #000; }
      .main-window .main-header .main-logo span {
        font-weight: 600; }
      .main-window .main-header .main-logo svg {
        margin-top: 10px;
        margin-left: 5px;
        color: #8e8d8d;
        transition: color 1s; }
        .main-window .main-header .main-logo svg:hover {
          color: #454545; }
    .main-window .main-header .main-options {
      display: flex;
      flex-direction: row;
      width: 200px;
      justify-content: space-evenly;
      margin: 0 auto; }
    .main-window .main-header h4 {
      font-size: 0.8rem;
      cursor: pointer;
      padding: 0 10px;
      color: #aaa9a9;
      transition: color 0.5s; }
      .main-window .main-header h4:hover {
        color: #707070; }
    .main-window .main-header h4.main-option-selected {
      color: #302f2f; }

.tabs-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(0.5rem);
  padding: 10px; }

.tab-row {
  width: 110vw;
  text-align: center;
  padding: 8px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .tab-row .audible-icon {
    margin-left: -24px;
    transform: translateX(-2rem); }
  .tab-row.tab-active {
    background-color: rgba(207, 207, 207, 0.8);
    border: 0px solid rgba(0, 0, 0, 0.4); }

.tab {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 55%;
  padding: 15px 25px;
  font-size: 1.15rem;
  border-radius: 5px;
  background-image: linear-gradient(90deg, #676767 0, #616060 51%, #9c9b9b);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  color: #fff;
  cursor: pointer;
  background-size: 200% auto;
  transition: 0.5s; }
  .tab.tab-active {
    background-image: linear-gradient(to right, #616060 0%, #616060 51%, #9c9b9b 100%); }
  .tab:hover {
    background-position: right center;
    transform: translateY(-3px); }
  .tab:active {
    animation: background-size 1.5s;
    transform: translateY(-1px); }
  .tab .tab-icon {
    width: 30px;
    height: 30px;
    padding-right: 15px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden; }
    .tab .tab-icon img {
      width: 30px;
      height: 30px;
      float: left; }
  .tab .tab-content {
    flex: 2; }

.recently-closed {
  padding-right: calc(34px + 1.1rem); }
  .recently-closed .tab {
    opacity: 0.8;
    background-image: linear-gradient(90deg, #020202 0, #1d1d1d 51%, #454545); }

.tab-options {
  flex: 0;
  margin-left: 1rem;
  width: 100px;
  height: auto;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: #7a7a7a;
  transition: color 0.5s; }
  .tab-options .icon-close:hover,
  .tab-options .icon-pin:hover {
    color: #454545; }
  .tab-options .icon-close {
    padding-left: 10px; }
  .tab-options .icon-pin {
    padding-left: 20px; }
