body {
  overflow: hidden; }
  body::-webkit-scrollbar {
    width: 0 !important; }

.main-window {
  width: 100vw;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  padding: 15px;
  background-image: linear-gradient(to right, #fcfcfc, #c9c7c7);
  color: #454545; }

.tabs-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(0.5rem);
  padding: 10px; }

.tab-row {
  text-align: center;
  width: 80%;
  max-width: 800px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center; }
  .tab-row .tab {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 15px 25px;
    font-size: 1.15rem;
    border-radius: 5px;
    background-image: linear-gradient(to right, #454545 0%, #575656 51%, #6e6d6d 100%);
    color: #fff;
    cursor: pointer;
    background-size: 200% auto;
    transition: 0.5s; }
    .tab-row .tab:hover {
      background-position: right center; }
    .tab-row .tab:active {
      animation: background-size 1.5s; }
    .tab-row .tab .tab-icon {
      width: 30px;
      height: 30px;
      padding-right: 15px;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden; }
      .tab-row .tab .tab-icon img {
        width: 30px;
        height: 30px;
        float: left; }
    .tab-row .tab .tab-content {
      flex: 2; }

.tab-options {
  margin-left: 1rem;
  width: 100px;
  height: auto;
  cursor: pointer; }
