.tab-options {
  flex: 0;
  margin-left: 1rem;
  width: 100px;
  height: auto;
  cursor: pointer;
  @include flex-row;
  justify-content: flex-start;
  color: #7a7a7a;
  transition: color 0.5s;

  .icon-close,
  .icon-pin {
    &:hover {
      color: #454545;
    }
  }
  .icon-close {
    padding-left: 10px;
  }
  .icon-pin {
    padding-left: 20px;
  }
}
