.tab {
  @include flex-row;
  justify-content: flex-start;
  align-items: center;
  width: 55%;
  padding: 15px 25px;
  font-size: 1.15rem;
  border-radius: 5px;
  background-image: linear-gradient(90deg, #676767 0, #616060 51%, #9c9b9b);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  color: #fff;
  cursor: pointer;
  background-size: 200% auto;
  transition: 0.5s;

  &.tab-active {
    background-image: linear-gradient(
      to right,
      #616060 0%,
      #616060 51%,
      #9c9b9b 100%
    );
  }

  &:hover {
    background-position: right center;
    transform: translateY(-3px);
  }
  &:active {
    animation: background-size 1.5s;
    transform: translateY(-1px);
  }

  & .tab-icon {
    width: 30px;
    height: 30px;
    padding-right: 15px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;

    & img {
      width: 30px;
      height: 30px;
      float: left;
    }
  }
  & .tab-content {
    flex: 2;
  }
}

.recently-closed {
  padding-right: calc(34px + 1rem);
  & .tab {
    opacity: 0.8;
    background-image: linear-gradient(90deg, #020202 0, #1d1d1d 51%, #454545);
  }
}
