.main-window {
  width: 100%;
  height: 100%;
  @include flex-column;
  align-items: center;
  // overflow-y: scroll;
  overflow-x: hidden;
  padding: 15px;
  // background-image: linear-gradient(to bottom right,#87eef7,#fff);
  background-image: linear-gradient(to bottom, #fff, #fcfcfc);
  color: #454545;

  & .main-header {
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;

    & .main-settings-icon,
    .new-tab-icon,
    .main-close-icon {
      top: 10px;
      position: absolute;
      color: #7a7a7a;
      cursor: pointer;
      transition: color 0.5s;

      &:hover {
        color: #454545;
      }
    }

    & .main-settings-icon {
      left: 15px;
    }

    & .new-tab-icon {
      right: 55px;
    }

    & .main-close-icon {
      right: 15px;
    }

    & h1 {
      font-family: $hdr-main-font;
      font-size: 1.7rem;
      margin: 10px 0 0 0;
      cursor: default;
    }

    & .main-options {
      @include flex-row;
      width: 200px;
      justify-content: space-evenly;
      margin: 0 auto;
    }

    & h4 {
      cursor: pointer;
      padding: 0 10px;
      color: #aaa9a9;
      transition: color 0.5s;

      &:hover {
        color: #707070;
      }
    }

    & h4.main-option-selected {
      color: #302f2f;
    }
  }
}
