.main-window {
  width: 100%;
  height: 100%;
  @include flex-column;
  align-items: center;
  overflow: hidden;
  padding: 15px;
  background-image: linear-gradient(to bottom, #fff, #fcfcfc);
  color: #454545;

  & .main-header {
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    margin-left: -15px;

    & .main-settings-icon,
    .new-tab-icon,
    .main-close-icon {
      top: 10px;
      position: absolute;
      color: #7a7a7a;
      cursor: pointer;
      transition: color 0.5s;

      &:hover {
        color: #454545;
      }
    }

    & .main-settings-icon {
      display: none;
      left: 15px;
    }

    & .new-tab-icon {
      right: 55px;
    }

    & .main-close-icon {
      right: 15px;
    }

    & .main-logo {
      @include flex-row;
      justify-content: center;
      margin-left: 30px;

      & h1 {
        font-family: $hdr-main-font;
        font-size: 1.7rem;
        margin: 10px 0 0 0;
        cursor: default;
        color: #454545;
        transition: color 1s;

        &:hover {
          color: #000;
        }
      }

      & span {
        font-weight: 600;
      }

      & svg {
        margin-top: 10px;
        margin-left: 5px;
        color: #8e8d8d;
        transition: color 1s;

        &:hover {
          color: #454545;
        }
      }
    }

    & .main-options {
      @include flex-row;
      width: 200px;
      justify-content: space-evenly;
      margin: 0 auto;
    }

    & h4 {
      font-size: 0.8rem;
      cursor: pointer;
      padding: 0 10px;
      color: #aaa9a9;
      transition: color 0.5s;

      &:hover {
        color: #707070;
      }
    }

    & h4.main-option-selected {
      color: #302f2f;
    }
  }
}
