.tabs-view {
  @include flex-column;
  align-items: center;
  transform: translateX(0.5rem);
  padding: 10px;
}

.tab-row {
  width: 110vw;
  text-align: center;
  margin-bottom: 10px;
  @include flex-row;
  justify-content: center;
  align-items: center;

  &.tab-active {
    background-color: rgba(207, 207, 207, 0.8);
    padding: 10px 0;
    border: 1px solid rgba(0, 0, 0, 0.3);
  }
}
