.tabs-view {
  @include flex-column;
  align-items: center;
  transform: translateX(0.5rem);
  padding: 10px;
}

.tab-row {
  width: 110vw;
  text-align: center;
  padding: 8px 0;
  @include flex-row;
  justify-content: center;
  align-items: center;

  // &.recently-closed {
  //   padding-right: calc(34px + 1rem);
  //   & .tab {
  //     opacity: 0.8;
  //     background-image: linear-gradient(
  //       to right,
  //       #454545 0%,
  //       #414040 51%,
  //       #7a7979 100%
  //     );
  //   }
  // }

  & .audible-icon {
    margin-left: -24px;
    transform: translateX(-2rem);
  }

  &.tab-active {
    background-color: rgba(207, 207, 207, 0.8);
    border: 0px solid rgba(0, 0, 0, 0.4);
  }
}
